.header {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem; // 위쪽과 아래쪽 여백을 주고, 좌우에 패딩 설정
  gap: 24px;
}

.questionNumText {
  color: #333;
  line-height: 110%;
  font-size: 2rem;
  text-align: left;
}

.questionText {
  color: #333;
  font-size: 1.7rem;
  line-height: 120%;
  text-align: left;
}

.rowContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.7rem;
  align-items: center;
}

.inputCount {
  padding: 0.7rem;
  font-size: 1.7rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  box-sizing: border-box; // 패딩을 포함한 너비 계산
}
