/* Layout.module.scss */
.wrapper {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
