.startScreen {
  width: 100vw;
  height: 100vh;
  background-size: cover; // 이미지가 화면을 채우도록 설정
  background-position: center; // 이미지의 중앙을 기준으로 정렬
  display: flex;
  justify-content: space-between; // 화면의 중앙으로 내용 정렬
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%; // 전체 너비 사용
  max-width: 375px; // 핸드폰 화면 크기 정도로 제한
  padding: 100px 24px; // 위쪽과 아래쪽 여백을 주고, 좌우에 패딩 설정
  gap: 200px;
}

.startText {
  color: #333;
  font-size: 1.7rem;
  text-align: left;
}

.startButton {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #333; // 버튼 텍스트 색상
  background-color: #cce4ff; // 버튼 배경 색상
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #8bbbe4; // 호버 시 버튼 색상 변화
  }

  &:active {
    transform: scale(0.98); // 클릭 시 살짝 눌리는 효과
  }
}
